/* Global styling */
.stApp {
    width: 100%;
    min-width: auto;
    max-width: initial;
}

/* Titres */
h1 {
    font-size: 60px;
    text-align: center;
    color: rgb(220, 23, 33);
}

h2 {
    font-size: 30px;
    text-align: center;
}

/* Paragraphes */
p {
    font-size: 20px;
}

/* Boutons du menu */
[data-testid="stHorizontalBlock"] {
    max-width: 100%;
    align-content: center;
}

[data-testid="stSidebarContent"] {
    background-color: rgb(193, 17, 25);
    border: none;
    color: #FFFFFF;
}

/* Boutons du menu au survol */
[data-testid="stPageLink-NavLink"]:hover {
    background-color: #e50914;
    border: none;
    color: #FFFFFF;
}

[data-testid="stSelectbox"] div,
[data-testid="stSelectbox"] input,
[data-testid="stTooltipHoverTarget"]:hover,
[data-testid="stTooltipHoverTarget"]:active,
li[aria-selected="true"] {
    color: #000000;
}

[data-testid="stSelectbox"] label>div {
    color: #FFFFFF;
}

.st-emotion-cache-1xf0csu {
    width: 80%;
    margin-left: 15%;
}

.iframe_powerbi {
    width: 100%;
}